---
import BlogLayout from "../../../layouts/BlogLayout.astro";
import { Code } from "astro:components";
import { code } from "./code.astro";
import { colors } from "../../../utils/colors/colors.constants.astro";
const matches = import.meta.glob("./index.mdx", { eager: true });
const posts = Object.values(matches) as any[];
const content = posts[0];
---

<BlogLayout headers={content.getHeadings()}>
    <div class={`bg-[${colors.secondary}] w-fit h-fit rounded-xl p-5 px-10 text-white shadow-lg`}>
        {
            (
                <div class="space-y-5">
                    <div class="mt-4" dir="rtl">
                        <content.default />
                    </div>
                    <Code lang="js" code={code} contextmenu={"test"} class="w-full overflow-hidden rounded-lg p-5" />
                </div>
            )
        }
    </div>
</BlogLayout>

<style is:global>
    .shiki pre {
        counter-reset: line;
    }

    .shiki pre code {
        display: block;
    }

    .shiki pre code span {
        display: block;
    }

    .shiki pre code span::before {
        content: counter(line);
        counter-increment: line;
        display: inline-block;
        width: 2em;
        margin-left: -2em;
        padding-right: 1em;
        text-align: right;
        color: #6c6c6c;
    }
</style>
