---
import { projectsList } from "./Projects.constants.astro";
import ProjectCard from "../ProjectCard/ProjectCard.astro";


---

<div class="bg-transparent w-full h-fit rounded-md text-white flex items-center justify-start gap-5 flex-wrap max-lg:justify-center">
    {projectsList.map((project) => <ProjectCard {...project} />)}
</div>
