---
import Blog from "../Blog/Blog.astro";
import { blogsPeek } from "./Blogs.constants.astro";
---

<div class="w-full">
    <div class="flex items-center justify-center flex-wrap gap-5 w-full">
        {blogsPeek.map((blog) => <Blog {...blog} />)}
    </div>
</div>
