---
import Blog from "../Blog/Blog.astro";
import { blogsPeek } from "./Blogs.constants.astro";

type BlogTypes = "Web Development" | "Mobile Development" | "UI/UX" | "Other";
type BlogTags = "astro" | "typescript" | "javascript" | "tailwindcss" | "react" | "next" | "vue" | "flutter" | "other";

export interface BlogsProps {
    title: string;
    blogId: number | string;
    desc: string;
    type: BlogTypes;
    tags: BlogTags[];
    createAt: string;
}


---

<div class="w-full">
    <div class="flex items-center justify-center flex-wrap gap-5 w-full">
        {blogsPeek.map((blog) => <Blog {...blog} />)}
    </div>
</div>
