@import "tailwindcss";

@layer base {
  body {
    background: #F1F5F9;
    color: #020206;
    font-family: Arial, Helvetica, sans-serif;
  }

  .text-gradient {
    background: radial-gradient(circle at top left, #312e81 0, #020617 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .button-gradient {
    background: radial-gradient(circle at 50% -90%, #c7d2fe 0, rgba(165, 180, 252, 0) 60%) no-repeat, linear-gradient(180deg, #6366f1, #4338ca);
  }

  .button-gradient-container {
    background: radial-gradient(circle at center, #6366f1 0, #4f46e5 100%);
  }

  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }

    100% {
      transform: translateX(100%);
    }
  }

  .shimmer-overlay {
    position: absolute;
    inset: 0;
    transform: translateX(-100%);
    animation: shimmer 1.5s infinite;
    background: linear-gradient(to right,
        transparent,
        rgba(255, 255, 255, 0.6),
        transparent);
    z-index: 1;
    pointer-events: none;
  }

}