<div class="bg-[#31363F] w-[350px] flex flex-col items-center h-fit rounded-xl p-5 text-white max-lg:w-full max-lg:justify-center">
    <div class="mb-5 cursor-pointer max-lg:w-full max-lg:flex items-center justify-center ">
        <img src="/me.jpg" alt="me" width="300" height="300" class="h-[300px] rounded-md object-cover overflow-hidden max-lg:h-[200px]" />
    </div>
    <div class="w-full flex flex-col items-center">
        <h2 class="text-[1.5rem] w-full text-center font-bold">Ahmed Hany</h2>
        <div class="bg-[#222831] h-[6px] w-[40px] rounded-full my-2"></div>
        <p class="text-[1.1rem] w-full max-w-[250px] text-center text-[#EEEEEE] max-lg:text-[0.9rem]"  >A software developer with backend and frontend skills builds complete applications, creating seamless user interfaces and managing server logic and data efficiently.</p>
    </div>
</div>
