---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ahmedx3 - About">
    <div class="bg-[#31363F] w-full flex flex-col items-start justify-between h-fit rounded-xl p-5 text-white">
        <div>
            <h2 class="text-[2rem] w-full text-start font-bold max-lg:text-[1.5rem]">Ahmed Hany</h2>
            <p class="text-[1.1rem] text-[#EEEEEE] max-lg:text-[0.9rem]">Welcome to my blog! I'm Ahmed Hany, a software developer with a passion for creating innovative solutions.</p>
        </div>

        <div class="mt-5">
            <h2 class="text-[1.5rem] w-full text-start font-bold max-lg:text-[1.3rem]">About Me</h2>
            <p class="text-[1.1rem] text-[#EEEEEE] max-lg:text-[0.9rem]">
                A software developer with front-end and back-end skills builds complete applications, crafting intuitive user interfaces while managing server-side logic and databases. They ensure
                seamless interaction between the client and server, focusing on performance, scalability, and user experience.
            </p>
        </div>

        <div class="mt-5">
            <h2 class="text-[1.5rem] w-full text-start font-bold max-lg:text-[1.3rem]">Contact</h2>
            <ul>
                <li><span>Email:</span> <a href="#" class="text-[#76abae]">ahmed@example.com</a></li>
                <li><span>Phone:</span> <span class="text-[#76abae]">+123 456 789</span></li>
                <li><span>LinkedIn:</span> <a href="https://www.linkedin.com/in/ahmed-hany-451913276/" target="_blank" class="text-[#76abae]">linkedin.com/in/ahmedhany</a></li>
            </ul>
        </div>
    </div>
</Layout>

<style>
    ul {
        list-style-type: none;
        padding-left: 0;
    }

    li {
        font-size: 1rem;
        margin: 0.5rem 0;
        display: flex;
        align-items: center;
        padding-right: 1.5rem;
    }

    li span {
        margin-right: 5px;
    }

    li::before {
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #76abae;
        margin-right: 10px;
    }
</style>
