---
import ProjectsPage from "../components/Projects/ProjectsPage/ProjectsPage.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ahmedx3 - Projects">
    <section class="w-full">
        <ProjectsPage />
    </section>
</Layout>
