---
import BlogLayout from "../../../layouts/BlogLayout.astro";
import { Prism } from "@astrojs/prism";
import { code } from "./code.astro";
const matches = await import.meta.glob("./index.mdx", { eager: true });
const posts = Object.values(matches) as any[];
const content = posts[0];
---

<BlogLayout headers={content.getHeadings()}>
    <div class="bg-[#31363F] w-fit h-fit rounded-xl p-5 px-10 text-white shadow-lg">
        {
            (
                <div class="space-y-5">
                    <div class="mt-4" dir="rtl">
                        <content.default />
                    </div>
                    <Prism lang="jsx" code={code} class="w-full overflow-hidden rounded-lg" />
                </div>
            )
        }
    </div>
</BlogLayout>

<style is:global>
    /* src/styles/prism-line-numbers.css */

    .shiki pre {
        counter-reset: line;
    }

    .shiki pre code {
        display: block;
    }

    .shiki pre code span {
        display: block;
    }

    .shiki pre code span::before {
        content: counter(line);
        counter-increment: line;
        display: inline-block;
        width: 2em;
        margin-left: -2em;
        padding-right: 1em;
        text-align: right;
        color: #6c6c6c;
    }
</style>
