---
import BlogLayout from "../../../layouts/BlogLayout.astro";

const matches = await import.meta.glob(["./index.mdx", "./code.mdx"], { eager: true });
const posts = Object.values(matches) as any[];

const code = posts[0];
const content = posts[1];
---

<BlogLayout headers={content.getHeadings()}>
    <div class="bg-[#31363F] w-fit h-fit rounded-xl p-5 px-10 text-white shadow-lg">
        {
            (
                <div class="space-y-5">
                    <div class="mt-4" dir="rtl">
                        <content.default />
                    </div>
                    <div>
                        <code.default />
                    </div>
                </div>
            )
        }
    </div>
</BlogLayout>
