---
interface BlogLayoutProps {
    headers: any[];
}

const { headers } = Astro.props as BlogLayoutProps;
---

<section class="flex items-start flex-row-reverse gap-5">
    <aside class="sticky top-0 w-1/4 max-lg:hidden">
        <ul class="space-y-5">
            {headers.map((heading) => <li class="text-sm text-custom hover:text-white cursor-pointer"><a href={`#${heading.text.toLowerCase().replace(/\s+/g, "-")}`}>{heading.text}</a></li>)}
        </ul>
    </aside>
    <slot />
</section>

<style>
    ul {
        list-style-type: none;
        padding-left: 0;
    }

    li {
        font-size: 1rem;
        margin: 0.5rem 0;
        display: flex;
        align-items: center;
        padding-right: 1.5rem;
        direction: rtl;
    }

    li::before {
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #76abae;
        margin-left: 15px;
    }

    a {
        color: #76abae;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    .text-custom {
        color: #76abae;
    }

    .text-custom:hover {
        color: #ffffff;
    }
</style>
