---
import InformationSection from "../components/InformationsSection/InformationSection.astro";
import Header from "./Header.astro";
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta
            name="generator"
            content={"Passionate software developer specializing in full-stack web development. Expert in React, Node.js, and TypeScript, creating scalable, user-friendly applications. Explore my projects and get in touch for collaborations or inquiries."}
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="/prism-coldark.css" />
        <title>{title}</title>
    </head>
    <body class="bg-[#222831]">
        <main class="container mx-auto my-5 w-full max-lg:px-5" data-swup>
            <Header />
            <div class="flex items-start max-lg:items-center gap-7 mt-5 w-full max-lg:flex-col-reverse">
                <InformationSection />
                <div class="transition-main w-full">
                    <slot />
                </div>
            </div>
        </main>
    </body>
</html>

<style is:global>
    html {
        font-family: "Cairo", sans-serif;
        font-weight: normal;
        font-style: normal;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    a {
        text-decoration: none;
    }

    .swup-progress-bar {
        height: 1px;
        background-color: #76abae;
    }

    .is-changing .transition-main {
        transition-property: opacity, transform;
        transition-duration: 250ms;
    }

    html.is-animating .transition-main {
        opacity: 0;
        transform: translateY(-20px);
    }

    html.is-leaving .transition-main {
        transform: translateY(20px);
    }

    #items.is-changing {
        --duration-leave: 150ms;
        --duration-enter: 400ms;
        transition-duration: var(--duration-enter);
    }

    #items.is-leaving {
        transition-duration: var(--duration-leave);
    }

    #items.is-changing .list_item {
        transition-property: opacity, transform;
        transition-duration: var(--duration-enter);
        transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    }

    #items.is-animating .list_item {
        opacity: 0;
        transform: scale(0.75);
    }

    #items.is-leaving .list_item {
        transition-timing-function: ease-in;
        transition-duration: var(--duration-leave);
    }

    ::selection {
        background-color: #3c526d;
        color: white;
    }

    ::-moz-selection {
        background-color: #3c526d;
        color: white;
    }

    ::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #3c526d;
        border-radius: 30px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #2a3c4d;
    }

    ::-webkit-scrollbar-corner {
        background-color: #2a3c4d;
    }
</style>
